.bg-palevioletred-important{
    background-color:  palevioletred !important;
}

.bg-green-important{
    background-color:  green !important;
}

.bg-orange-important{
    background-color:  orange !important;
}

.white-important{
    color: white !important;
}